a{text-decoration:none;}
*{margin:0;padding:0;}
li{list-style: none;}
.margin{width:1000px;margin:0 auto;}
header img{margin-top:20px;}
nav{height:57px;}
nav ul{width:398px;height:40px;margin-left:220px;margin-top:15px;float:left;}
nav ul li{width:122px;float:left;margin-right:10px;border:1px solid #e1e1e1;font:12px/40px "";
box-sizing: border-box;text-align:center;border-bottom: 1px solid #fff;}
nav p{float:right;font-size:14px;margin-top:25px;}
nav p a{color:#ff611b;}
footer form{height:558px;border:1px solid #e1e1e1;padding:40px 30px;box-sizing:border-box;
background:url(../images/sky.png) no-repeat right;}
footer form div{height:92px;font-size:14px;}
footer form .user{margin-top:30px;}
footer form div input{border:none;border:1px solid #e1e1e1;width:326px;height:28px;padding:0 8px;
border-radius:2px;}
footer form div label{width:110px;display:inline-block;text-indent:15px;}
footer form div p{padding:0 112px;}
#btn{width:130px;height:38px;background:#ff611b;border:none;color:#fff;margin-left:120px;}